---
import Layout from "@/layouts/Layout.astro";
import CenterPassword from "@/components/CenterPassword.svelte";
import BarBottom from "@/components/BarBottom.astro";
import Profile from "@/components/Profile.svelte";
---

<Layout title="home" >
    <main>
        <div>
            <Profile />
        </div>
        <CenterPassword client:load />
        <BarBottom homePage />
    </main>
</Layout>

<style>
    main{
        display: flex;
        padding: 10px;
        height: 100vh;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
    }
    div{
        width: 100%;
        display: flex;
        justify-content: right;
    }
</style>
