---
import CreatePassword from "@/components/CreatePassword.svelte";
import NewPasswordVerifc from "@/components/NewPasswordVerifc.svelte";
import LayoutHome from "@/layouts/LayoutHome.astro";
---

<LayoutHome title="new" newPage >
    <div class="main" >
        <NewPasswordVerifc client:load />
        <CreatePassword client:load />
    </div>
</Layout>

<style>
    .main{
        display: flex;
        padding: 25px;
        width: 100%;
        background: transparent;
        align-items: center;
        justify-content: space-between;
    }
</style>