---
import BodyWallpaper from '@/components/BodyWallpaper.astro';
import {ViewTransitions} from 'astro:transitions';
import Toast from '@/components/Toast.svelte';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions  />
	</head>
	<body>
		<BodyWallpaper  >
			<slot />
		</BodyWallpaper>
		<Toast client:load />
	</body>
</html>
<script is:inline >
	/*
	document.addEventListener("contextmenu", function(e){
		e.preventDefault();
	});
	*/
</script>
<style is:global>
	:root {
		--Color_Primary: #0063a5;
		--Color_Secondary: #7c4526;
		--Color_Text: #c1dff7;
		--Color_Text_Hover: #f7f7f7;
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		user-select: none;
	}
</style>
